show_god_gift = unident

ai := autoinscribe

# Inscribe forbidden items for PickupEquipment
ai += forbidden:forbidden

ai += (bad|dangerous)_item.*potion:!q
ai += (bad|dangerous)_item.*scroll:!r
ai += potions? of berserk rage:!q
ai += scrolls? of (blinking|immolation|magic mapping|silence|vulnerability):!r

ai += of faith:!P
ai += manual of:!d

# Inscribe distortion weapons if you are not worshipping Lugonu
: if you.god() ~= "Lugonu" then
ai += distortion:!w
ai += (Sonja|Psyche):!w
: end

# Prevent melee with all staves;
# If we want to melee with one, it's safe to require removing the annotation.
ai += magical staff:!a

# Prevent auto quivering and cycling ammo
ai += (large rock|throwing net|curare|of dispersal):=f

# Warn before throwing
ai += (throwing net|of dispersal):!f

### Convenient shortcuts
###########################
# Potions
ai += curing:@q1
ai += potions? of heal wounds:@q2
ai += potions? of haste:@q3
# Scrolls
ai += identify:@r1
ai += remove curse:@r2
ai += scrolls? of teleportation:@r4


# Rare items
ai += (executioner's axe|double sword|triple sword|eveningstar|quick blade):rare
ai += (storm dragon scales|quicksilver dragon scales|shadow dragon scales|pearl dragon scales|gold dragon scales|crystal plate):rare
