# All commands and their key binds
# https://github.com/jmbjr/dcss/blob/master/crawl-ref/docs/keybind.txt

# CTRL+N will autofight without moving
bindkey = [^N] CMD_AUTOFIGHT_NOMOVE

# Alternative vi bindings for Dvorak users.
# include = dvorak_command_keys.txt

# Alternative vi bindings for Colemak users.
# include = colemak_command_keys.txt

# Alternative vi bindings for Neo users.
# include = neo_command_keys.txt

# Override the vi movement keys with a non-command.
# include = no_vi_command_keys.txt

# Turn the shift-vi keys into safe move, instead of run.
# include = safe_move_shift.txt

