#--Header magus.rc
#--Begin
: crawl.enable_more(false)

{{Globals.rc}}

{{Utils.lua}}



#--Header Lua Setup
{{AnnounceDamage.lua}}

{{OpenSkills.lua}}

{{PickupEquipment.lua}}

{{NoteVersion.lua}}

{{TurnReady.lua}}



#--Header RC Options (http://crawl.akrasiac.org/docs/options_guide.txt)
{{Init.rc}}

{{Travel.rc}}

{{Interface.rc}}

{{Bindkey.rc}}

{{AutoInscribe.rc}}

{{AutoPickup.rc}}

{{ItemColors.rc}}

{{ForceMorePrompts.rc}}

{{Morgue.rc}}

{{Messages.rc}}

{{DEBUG.lua}}



#--End
: crawl.enable_more(true)
